@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

html {
  font-size: 16px; /* Base font size for rem units */
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
  --line-color: #ffffff;
}

body {
  margin-left: 50px;
  margin-right: 50px;
  background: #e3dede;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 640px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
}
